# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
ENV/

# Environment files
.env

# Django
*.log
*.pot
*.pyc
*.mo
staticfiles/
media/
db.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker
*.env.*.local
docker-compose.override.yml
